
<b>Patron #:</b> <%=@patron.id%>
<br></br>
<b>Patron name:</b> <%=@patron.name%>
<br></br>
<b>Patron's works:</b> <%@patron.works.each_with_index do |work, index|%>
<BLOCKQUOTE>work #:<%=index + 1%>
  <ul><i><%=work.name%></i>, by <%=work.artist ? work.artist.name : " No artist object"%>, finished in <%=work.year_completed%></ul>
    </BLOCKQUOTE>
  <%end%>
  <br></br>
<%if @patron.user_id == current_user.id%>
<a href="/patrons/<%=@patron.id%>/edit">Edit this patron's information</a>
<p><form action="/patrons/<%=@patron.id%>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Patron"></p>
  <%end%>
