<%if flash[:message]%>
  <i><h3><%=flash[:message]%></i></h3>
<%end%>
<%@works.each do |work|%>
<b>Work #:</b> <%=work.id%><br></br>
<b>Name:</b> <i><%=work.name%></i><br></br>
<b>Artist:</b> <%=work.artist.name if work.artist%><br></br>
<b>Year completed:</b> <%=work.year_completed%><br></br>
<b>Patron:</b> <%=work.patron.name if work.patron%>
<br></br>
<%if work.user_id == current_user.id%>
<a href="/works/<%=work.id%>/edit">Edit this work's information</a>
<%end%>
<br></br>
<br></br>
<%end%>
